body{background-color: antiquewhite;}
h1{color: aquamarine;}
h1{background-color: black;}
p{color: blue;}

div p{color: blueviolet;}

#producto{background-color: brown;}
#producto{color: rgb(245, 241, 45);}

.practico{background-color: rgb(231, 24, 24);}

.practico{color: rgb(110, 236, 138);}

.article{background: cornflowerblue;}
.article{color: aliceblue;}

h2{color: rgb(24, 216, 223);}